/* Normalize */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #8FE3CF;
    --secondary-color: #002B5B;
    --tertiary-color: #2B4865;
}

body {
    height: 100vh;
    width: 100%;
    background: var(--tertiary-color);
}

header {
    display: flex;
    justify-content: space-between;
    color: #ffffffba;
    padding: 1rem 0.8rem;
    background: var(--secondary-color);
}

.login-logout {
    padding: 0 0.5rem;
}

main {
    padding: 1rem 0.5rem;
}

.sent {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    padding: 0.325rem 0;
}

img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

p {
    margin-right: 1.2rem;
    background: var(--primary-color);
    border-radius: 5px;
    padding: 0.5rem 0.3rem;
    max-width: 45rem;
}

form {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    background: var(--secondary-color);
    width: 100%;
    height: 2.8rem;
}

input[type=text]{
    padding: 0.2rem 0.2rem;
    height: 2rem;
    margin: 0.3rem 0.5rem 0.3rem 1rem;
    border-radius: 5px;
    border-style: none;
    width: calc(100vw - 5.5rem);
}

.message-send {
    margin: 0 0.5rem;
    padding: 0.5rem;
    border: none;
    background: none;
    font-size: 1.5rem;
    color: var(--tertiary-color);
}

.message-send:active {
    color:#8FE3CF;
}